.Management {
  width: calc(100% - 18.75%);
  min-height: 100vh;
  background-color: #f5f8fc;
  margin-left: 18.75%;
  padding: 2rem 2.5rem;
  box-sizing: border-box;
}

.pageBody {
  background-color: #ffffff;
  height: calc(100vh - 9.5rem);
  margin-top: 1.5rem;
  border-radius: 0.625rem;
  padding: 1.5rem;
  box-sizing: border-box;
}

.pageBodyHeader {
  height: 2.5rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.marginLeft {
  margin-left: 2.5rem;
}

.headerItem {
  height: 100%;
  display: flex;
  align-items: center;
}

.pageBodyHeader button {
  height: 100%;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 1rem;
  border-radius: 0.3125rem;
  border: none;
  background-color: #6f8ae8;
  color: #ffffff;
  cursor: pointer;
}

.togglePageButton {
  color: #8a8fa1;
  cursor: pointer;
}

.togglePageButton:hover,
.togglePageButton:hover div {
  font-weight: 600;
  color: #6f8ae8;
  display: block;
}

.pageActive {
  font-weight: 600;
  color: #6f8ae8;
}

.activeBar {
  height: 0.25rem;
  border-radius: 4px;
  width: 1.3rem;
  background-color: #6f8ae8;
  margin: auto;
  margin-top: 0.25rem;
}

.hide {
  background: transparent;
}

.transparentBg {
  background: transparent;
}

@media screen and (max-width: 500px) {
  .Management {
    width: 100%;
    min-height: 100vh;
    margin-left: 0;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
  }

  .pageBody {
    background-color: #ffffff;
    height: calc(100vh - (9.5rem + 45px + 50px));
    margin-top: 1rem;
    border-radius: 0.625rem;
    padding: 14px;
    box-sizing: border-box;
  }

  .marginLeft {
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 380px) {
  .togglePageButton {
    width: 55px;
    text-align: center;
  }
}
