.Sidebar {
  width: 18.75%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.HeaderHeight {
  display: flex;
  height: 4rem;
  /* background-color: bisque; */
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.HeaderHeight img {
  height: 3rem;
  width: 7.8125rem;
}

.Sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Sidebar li {
  display: flex;
  align-items: center;
  height: 3rem;
  width: auto;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  box-sizing: border-box;
}

.Sidebar a {
  text-decoration: none;
  font-size: 0.875rem;
  color: #8a8fa1;
}

/* .Sidebar li:hover a, .Sidebar:active a, .Sidebar a.active {
  color: #6F8AE8;
  font-weight: 600;
} */

.Sidebar a:hover,
.Sidebar a:active {
  color: #6f8ae8;
  font-weight: 600;
}

.Sidebar .Banner {
  width: calc(18.75% - 2rem);
  position: fixed;
  bottom: 2.5rem;
}

.Sidebar .Banner img {
  width: 100%;
  vertical-align: middle;
}

.Sidebar nav a div {
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  box-sizing: border-box;
}

.Sidebar nav a div img {
  height: 24px;
  width: 24px;
  margin-right: 12px;
}

.Sidebar nav a:hover div {
  background-color: #f5f6fa;
}

